body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(0, 0, 205), rgb(64, 224, 208));
    text-align: center;
    color: white;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20%;
    background-color: rgb(0, 0, 0.5);
    padding: 3em;
    border-radius: 10px;
}
button{
    background-color: rgb(126, 74, 126);
    color: white;
    border: none;
    padding: 1.2em;
    border-radius: 15px;
    box-shadow: 1px 1px 6px black;
    cursor: pointer;
}
button:hover{
    background-color: steelblue;
}
.final-step,
.second-step{
    display: none;
}
input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
