<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="conversor.component.css">
    <title>Conversor Moeda</title>
    
</head>
<body>
    <h1>Conversor Moeda</h1>
        <div class="container">

            
                <h3>Conversor Moeda</h3>
                <hr>
                <input type="number" placeholder="O valor" id="valor">
                <br><br>
                <input type="text" placeholder="Resultado" id="resposta" readonly style="width: 170px;">
                <br><br>
                <button type="button" onclick="dolar()">Real para dolar</button>
                <button type="button" onclick="euro()">Dolar para euro</button>
                <button type="button" onclick="real()">Euro para real</button>
            
        </div>
</body>
<script>

    function dolar()
    {
        var valor, resp;

    valor = parseFloat(document.getElementById("valor").value);

    resposta = valor * 5;

    document.getElementById("resp").value = resp;
        
    }
</script>
</html>
