<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="conversor.component.css">
    <title>Conversor Moeda</title>
    
</head>
<body>
        <div class="container">

            
                <h3>Conversor Moeda</h3>
                <hr>
                <select name="moeda"  id="moeda" style="width: 60px;">
                    <option value="nada"></option>
                    <option value="dolar">Dolar</option>
                    <option value="euro">Euro</option>
                    <option value="real">Real</option>
                  </select>
                  
                <input type="number" placeholder="Digite o valor" id="valor">
                <br><br>
                <select name="moeda"  id="moeda2" style="width: 60px;">
                    <option value="nada"></option>
                    <option value="dolar">Dolar</option>
                    <option value="euro">Euro</option>
                    <option value="real">Real</option>
                  </select>
                  
                <input type="number" placeholder="Digite o cambio" id="cambio">
                <br><br>
                <input type="text" placeholder="Resultado" id="resposta" readonly style="width: 170px;">
                <br><br>
                <button type="button" onclick="calcular()">Calcular</button>
               
            
        </div>
</body>
<script>

    function calcular()
    {

        var valor, cambio, resposta;

    valor = parseFloat(document.getElementById("valor").value);
    cambio= parseFloat(document.getElementById("cambio").value);

    resposta = valor * cambio;

    document.getElementById("resposta").value = resposta;
        
    }


</script>
</html>
