<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta https-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="conversor.component.css">
    <title>Conversor Moeda</title>
    
</head>
<body>
        <div class="container">

            
                <h3>Conversor Moeda</h3>
                <hr>
                <input type="number" placeholder="O valor" id="valor">
                <br><br>
                <input type="number" placeholder="Cambio" id="cambio">
                <br><br>
                <input type="text" placeholder="Resultado" id="resposta" readonly style="width: 170px;">
                <br><br>
                <button type="button" onclick="calcular()">Calcular</button>
               
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Moeda</th>
                        <th scope="col">Converter</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Mudanças?</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Dolar</th>
                        <td>Euro</td>
                        <td>0,92</td>
                        <td>0,91/0,93</td>
                      </tr>
                      <tr>
                        <th scope="row">Euro</th>
                        <td>Real</td>
                        <td>5,50</td>
                        <td>5,49/5,51</td>
                      </tr>
                      <tr>
                        <th scope="row">Real</th>
                        <td>Dolar</td>
                        <td>5,06</td>
                        <td>5,05/5,07</td>
                      </tr>
                    </tbody>
                  </table>
            
        </div>
</body>
<script>

    function calcular()
    {
        var valor, cambio, resposta;

    valor = parseFloat(document.getElementById("valor").value);
    cambio = parseFloat(document.getElementById("cambio").value) 

    resposta = valor * cambio;

    document.getElementById("resposta").value = resposta;
        
    }


</script>
</html>
